functionsDirectory = "/Users/brandonlucasgreen/Development/unstream/netlify/functions"
functionsDirectoryOrigin = "config-v1"
redirectsOrigin = "config"
plugins = []
headers = []

[build]
publish = "/Users/brandonlucasgreen/Development/unstream/dist"
publishOrigin = "config"
commandOrigin = "config"
command = "npm run build"
functions = "/Users/brandonlucasgreen/Development/unstream/netlify/functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[functions]

[functions."*"]

[[redirects]]
from = "/api/search/sources"
to = "/.netlify/functions/search-sources"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/api/search/musicbrainz"
to = "/.netlify/functions/search-musicbrainz"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/api/embed/bandcamp"
to = "/.netlify/functions/embed-bandcamp"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/api/resolve/url"
to = "/.netlify/functions/resolve-url"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/api/desktop/version"
to = "/.netlify/functions/desktop-version"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/plus"
to = "https://kidlightbulbs.lemonsqueezy.com/checkout/buy/d4e127a7-2cef-4013-80b8-5d0de691f332"
status = 302.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]