openapi: 3.0.3
info:
  title: Unstream API
  description: |
    Find your favorite artists on alternative music platforms. Search across 15+ platforms
    including Bandcamp, Mirlo, Qobuz, Beatport, Faircamp, Patreon, and more.

    ## Authentication

    The v1 API supports two authentication methods:

    1. **API Key** — Pass your key via the `X-API-Key` header. API key requests
       have per-key rate limits and are allowed from any origin.
    2. **No auth** — Anonymous requests are rate-limited per IP and restricted
       to the `unstream.stream` origin.

    During the beta, API keys are available by invitation only.
    Request access at [unstream.stream](https://unstream.stream).

    ## Rate Limits

    | Tier | Per Minute | Daily Quota |
    |------|-----------|-------------|
    | Anonymous | 10 | 500 |
    | Free | 30 | 100 |
    | Pro | 100 | 10,000 |
    | Internal | 300 | Unlimited |

    Rate limit headers are included in every response:
    - `X-RateLimit-Limit` — Maximum requests allowed in the current window
    - `X-RateLimit-Remaining` — Requests remaining in the current window
    - `X-RateLimit-Reset` — Unix timestamp when the rate limit window resets

    ## Response Format

    All v1 endpoints return responses in the following envelope:

    ```json
    {
      "data": { ... },
      "meta": {
        "api_version": "1",
        "request_id": "uuid"
      }
    }
    ```
  version: '1.0.0'
  contact:
    name: Unstream API Support
    url: https://unstream.stream
  license:
    name: Proprietary
    url: https://unstream.stream/terms

servers:
  - url: https://unstream.stream/api/v1
    description: Production

security:
  - ApiKeyAuth: []
  - {}

tags:
  - name: Search
    description: Artist search across platforms
  - name: Artist
    description: Artist profile lookups
  - name: Resolve
    description: URL resolution (Spotify, Apple Music)
  - name: Platforms
    description: Platform metadata
  - name: Status
    description: API health check
  - name: Keys
    description: API key management

paths:
  /search:
    get:
      tags: [Search]
      summary: Search for an artist
      description: |
        Search across 17+ music platforms for an artist. Returns aggregated results
        with links to each platform, payout percentages, and verified profile data.
      parameters:
        - name: query
          in: query
          required: true
          description: Artist name to search for (max 200 characters)
          schema:
            type: string
            maxLength: 200
          example: "Radiohead"
      responses:
        '200':
          description: Search results
          headers:
            X-RateLimit-Limit:
              description: Maximum requests allowed in the current window
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp when the rate limit window resets
              schema:
                type: integer
            X-Request-Id:
              description: Unique request identifier for tracing
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Invalid query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /artist/{slug}:
    get:
      tags: [Artist]
      summary: Get artist profile
      description: |
        Look up an artist by their URL slug. Returns the artist's profile data
        including bio, image, links, and featured release embed.
      parameters:
        - name: slug
          in: path
          required: true
          description: Artist slug (URL-safe name)
          schema:
            type: string
          example: "radiohead"
      responses:
        '200':
          description: Artist profile
          headers:
            X-Request-Id:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistResponse'
        '404':
          description: Artist not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /resolve:
    get:
      tags: [Resolve]
      summary: Resolve a streaming URL
      description: |
        Resolve a Spotify or Apple Music URL to an artist name.
        Useful for converting streaming links to Unstream search queries.
      parameters:
        - name: url
          in: query
          required: true
          description: Spotify or Apple Music URL to resolve
          schema:
            type: string
          example: "https://open.spotify.com/artist/4Z8W4fKeB5YxbusRsdQVPb"
      responses:
        '200':
          description: Resolved artist information
          headers:
            X-Request-Id:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveResponse'
        '400':
          description: Invalid or unsupported URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /platforms:
    get:
      tags: [Platforms]
      summary: List supported platforms
      description: Returns the list of platforms Unstream searches, with IDs and categories.
      responses:
        '200':
          description: Platform list
          headers:
            X-Request-Id:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformsResponse'

  /status:
    get:
      tags: [Status]
      summary: API health check
      description: Returns the API status. No authentication required.
      responses:
        '200':
          description: API is operational
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /keys:
    post:
      tags: [Keys]
      summary: Create an API key
      description: |
        Generate a new API key. Requires Supabase authentication (Bearer token).
        Maximum 3 keys per account. The full key is only returned once on creation.
      security:
        - BearerAuth: []
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreateResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Maximum key limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags: [Keys]
      summary: List your API keys
      description: Returns a list of your API keys (key values are masked).
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags: [Keys]
      summary: Revoke an API key
      description: Revoke (deactivate) an API key by ID.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  description: The ID of the key to revoke
              required:
                - id
      responses:
        '200':
          description: Key revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Key not found or already revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      description: Supabase JWT token

  schemas:
    SearchResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/ArtistSearchResult'
            query:
              type: string
              description: The normalized search query
        meta:
          $ref: '#/components/schemas/Meta'

    ArtistSearchResult:
      type: object
      properties:
        id:
          type: string
          description: Unique result identifier
        name:
          type: string
          description: Artist name
        type:
          type: string
          enum: [artist]
          description: Result type (always "artist")
        imageUrl:
          type: string
          nullable: true
          description: Artist image URL
        matchConfidence:
          type: string
          enum: [claimed, high, medium, low]
          description: How confident the match is
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/PlatformLink'
        latestReleases:
          type: array
          items:
            $ref: '#/components/schemas/Release'

    PlatformLink:
      type: object
      properties:
        sourceId:
          type: string
          description: Platform identifier (e.g., "bandcamp", "mirlo")
        url:
          type: string
          format: uri
          description: Link to the artist on this platform
        type:
          type: string
          enum: [artist, album, track]
          description: Type of result
        name:
          type: string
          description: Display name on this platform
        imageUrl:
          type: string
          nullable: true
          description: Platform-specific image URL

    Release:
      type: object
      properties:
        title:
          type: string
          description: Release title
        type:
          type: string
          enum: [album, track]
        url:
          type: string
          format: uri
        imageUrl:
          type: string
          nullable: true
        releaseDate:
          type: string
          nullable: true
          description: Release date (ISO or human-readable)

    ArtistResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ArtistProfile'
        meta:
          $ref: '#/components/schemas/Meta'

    ArtistProfile:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        imageUrl:
          type: string
          nullable: true
        bio:
          type: string
          nullable: true
        matchConfidence:
          type: string
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/PlatformLink'

    ResolveResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            artistName:
              type: string
              description: Resolved artist name
            source:
              type: string
              enum: [spotify, apple]
              description: Which platform the URL was from
        meta:
          $ref: '#/components/schemas/Meta'

    PlatformsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            platforms:
              type: array
              items:
                $ref: '#/components/schemas/PlatformInfo'
        meta:
          $ref: '#/components/schemas/Meta'

    PlatformInfo:
      type: object
      properties:
        id:
          type: string
          description: Platform identifier (e.g., "bandcamp")
        name:
          type: string
          description: Human-readable platform name
        category:
          type: string
          enum: [curated, search_only]
          description: Platform category

    StatusResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              enum: [ok]
            version:
              type: string
              description: API version
            timestamp:
              type: string
              format: date-time
        meta:
          $ref: '#/components/schemas/Meta'

    ApiKeyCreateResponse:
      type: object
      properties:
        api_key:
          type: string
          description: Full API key (only shown once)
          example: "usk_a1b2c3d4e5f6..."
        key_info:
          type: object
          properties:
            id:
              type: string
              format: uuid
            prefix:
              type: string
              description: First 8 characters of the key
              example: "usk_a1b2"
            tier:
              type: string
              enum: [free, pro, internal]
            daily_limit:
              type: integer
            per_minute:
              type: integer
            created_at:
              type: string
              format: date-time

    ApiKeyListResponse:
      type: object
      properties:
        keys:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              key_prefix:
                type: string
              tier:
                type: string
              daily_limit:
                type: integer
              per_minute:
                type: integer
              is_active:
                type: boolean
              created_at:
                type: string
                format: date-time
              last_used_at:
                type: string
                nullable: true
                format: date-time
              description:
                type: string
                nullable: true

    Meta:
      type: object
      properties:
        api_version:
          type: string
          enum: ['1']
        request_id:
          type: string
          format: uuid
        rate_limit:
          type: object
          nullable: true
          properties:
            limit:
              type: integer
            remaining:
              type: integer
            reset:
              type: integer
              description: Unix timestamp when the rate limit window resets

    ErrorResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            error:
              type: string
              description: Error message
        meta:
          $ref: '#/components/schemas/Meta'